//bootstrap.min.css import
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&amp;subset=cyrillic-ext')
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

* {
    box-sizing: border-box;
    transition: all .2s ease-in-out !important;
    font-family: 'Roboto', sans-serif;
    //letter-spacing: -1px !important;
}

body {
    background-color: #fafafa;
}
