@font-face {
    font-family: FontAwesome;
    src: url('../fonts/fontawesome-webfont.ttf');
}

@font-face {
    font-family: BukhariScript;
    src: url('../fonts/BukhariScript.otf');
    font-weight: 100;
}

@font-face {
    font-family: RobotoRegular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoLight;
    src: url('../fonts/Roboto-Light.ttf');
}

* {
    font-family: RobotoRegular, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #ebebeb;
}

a, a:hover {
    text-decoration: none;
}

::selection {
  background-color: #E05E5C;
  color: white;
}
::-moz-selection {
  background-color: #E05E5C;
  color: white;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    @media screen and (max-width: 1140px) {
        padding: 0 20px;
    }
    @media screen and (max-width: 720px) {
        padding: 0 10px;
    }
}

.hidden {
    display: none;
}
