.btn {
    display: inline-block;
    border: none;
    outline: none;
    transition: all .2s;
}

.btn:hover {
    cursor: pointer;
}

.navbar__btn {
    height: 100%;
    background-color: transparent;
    padding: 21px 15px 0;
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: top;
}


