@import 'basic'

Centered() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

Img-box(addr) {
    background-image: url(addr);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: ColorGrayLight;
    position: fixed;
    padding: 0 30px;
    height: 60px;
    width: 80vw;
    top: 30px;
    left: 10%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    transition: all .5s;
    h1 {
        display: inline-block;
        font-family: BukhariScript;
        font-weight: 100;
        text-align: center;
        font-size: 2.5rem;
        color: ColorMain;
    }
}

.navbar_expanded {
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
}

.promo {
    background-color: rgba(0,0,0,.5)
}

.carousel {
    Img-box('../img/promo.jpeg');
    width: 100%;
    height: 85vh;
    padding: 10px;  
}

.content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 50px calc(10vw - 10px);
}

.content-wrapper__card {
    height: 400px;
    flex-grow: 1;
    min-width: 300px;
    background-color: #fff;
    padding: 20px;
    margin: 20px 10px;
    text-align: center;
    font-size: 2rem;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    border-radius: 3px;
}
