@import 'basic'

Centered() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    background-color: ColorGrayLight;
    width: 80%;
    margin: 50px auto;
    padding: 30px 50px;
    h1 {
        text-align: center;
        font-size: 3rem;
    }
}
