@import '../../colors'

.footer {
    background-color: ColorGrayDark !important;
    padding: 30px 0;

    .glyphicon {
        margin-right: 5px;
    }
    
    h4 {
        color: #fff;
    }
    p {
        color: ColorGrayLight;
        a {
        color: ColorGrayLight !important
        &:hover {
            color: #777 !important
        }
    }
    }
}

.footer__logo {
    height: 35px;
    margin-bottom: 10px;
}

.footer__social {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-color: ColorGrayLight;
    margin: 0 15px 10px 0;
    background-color: ColorGrayLight;
    padding: 4px 5px;
}
