@import '../../colors'

.grid {
    margin-top: 70px;
    min-height: calc(100vh - 70px);
}

.pageheader h1 {
    font-size: 30px !important;
    font-weight: 300 !important;
}

.caption {
    font-family: Roboto;
    font-weight: 300 !important;
}

.thumbnail {
    padding: 10px;
    border: none;
    box-shadow: 0 0 1px rgba(0,0,0,.2);

    p {
        height: 40px;
    }

    img {
        margin: auto;
        height: 230px;
    }

    &:hover {
        box-shadow: 0 0 20px rgba(0,0,0,.1);
    }
}

.cart-btn {
    border-radius: 18px;
    .glyphicon { margin-right: 7px; }
}

.thumbnail__options {
    padding: 0 15px;
}

.carousel-home {
    .btn {
        margin: 20px 0;
    }
    .item {
        height: 500px !important;
        overflow: hidden;
        @media(max-width: 576px) {
            height: 400px !important;  
        }
        img {
            @media(max-width: 768px) {
                min-width: 130%;
            }
            @media(max-width: 576px) {
                min-width: 200%;
                transform: translateX(-25%);
            }
        }
    }
}

.carousel-control {
    background-image: none !important;
    &:hover, &:focus {
        background-color: rgba(100,100,100,.1);
    }
} 

.not-found {
    color: #fff !important;
    background-color: ColorRed !important;
}

.product-img {
    width: 100%;
}

.product-price {
    color: ColorRed !important;
    margin: 50px 0; 
}

.product {
    h3 { font-weight: 400 !important }
    .text-muted {
        font-weight: 300 !important;
        margin-top: 20px !important;
    }
}

.counter {
    width: 100px;
    height: 36px;
    display: inline-block;
    float: left !important;
    margin-right: 20px;
}

.form-control[readonly] {
    background-color: #fff !important;
}

.counter .btn {
    border-radius: 18px;
}

.cart-img {
    height: 64px;
    width: 64px;
}

.cart-sum {
    clear: both;
    margin: 10px 20px !important;
}

table .close {
    float: none !important;
    margin-right: 10px;
    font-weight: 100 !important;
}
