@import '../../colors'

.grid {
    margin-top: 70px;
    min-height: 80vh;
}

.pageheader h1 {
    font-size: 30px !important;
    font-weight: 300 !important;
    text-align: center;
}

.caption {
    font-family: Roboto;
    font-weight: 300 !important;
}

.thumbnail {
    padding: 10px;
    border: none;
    box-shadow: 0 0 1px rgba(0,0,0,.2);

    .cart-btn {
        border-radius: 18px;
        .glyphicon { margin-right: 7px; }
    }

    &:hover {
        box-shadow: 0 0 20px rgba(0,0,0,.1);
    }
}

.thumbnail__options {
    padding: 0 10px;
}

.carousel {
    .item {
        height: 80vh !important;
        overflow: hidden;
        img {
            min-width: 100% !important;
            min-height: 100% !important;
            @media (max-width: 768px) {
                min-width: 180% !important;
            }
        }
    }
}

.not-found {
    color: #fff !important;
    background-color: ColorRed !important;
}
