@require '../../assets/style/common.styl'

.header {
    height: 580px;
    background-color: ColorRed1;
    margin-bottom: -375px;
    transition: height .1s ease-in-out, margin .1s ease-in-out;
    @media screen and (max-width: 768px) {
        margin: 0;
        height: 60px;
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        box-shadow: 0 0px 5px rgba(0,0,0,.2);
        z-index: 1;
    }
}

.header_collapsed {
    margin: 0;
    height: 205px;
    @media screen and (max-width: 768px) {
        margin: 0;
        height: 60px;
    }
}

.subheader {
    height: 35px;
    background-color: ColorRed2;
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.subheader__btn {
    btn();
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    margin-right: 25px;
    height: 35px;
    &:hover {
        color: ColorRed3;
    }
}

.header__logo {
    font-family: BukhariScript;
    font-size: 50px;
    font-weight: 100;
    color: #fff;
    padding: 20px 0;
    width: 260px;
    &:hover {
        cursor: pointer;
    }
    @media screen and (max-width: 768px) {
        font-size: 30px;
        padding: 10px 0;
    }
}

.navbar {
    //background-color: ColorRed1;
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.navbar_fixed {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    padding: 10px 0;
    box-shadow: 0 0px 5px rgba(0,0,0,.2);
    background-color: ColorRed1;
    z-index: 1;
}

.navbar__btn {
    btn();
    padding: 15px 10px;
    margin: 0 15px 0 -10px;
    color: #fff;
    font-family: RobotoLight;
    font-size: 20px;
    font-weight: 100;
    border-radius: 30px;
    &:hover {
        background-color: ColorRed3;
    }
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.navbar__basket {
    @extend .navbar__btn 
    float: right;
    margin-right: -10px;
    &:before {
        content: '\f07a';
        font-family: FontAwesome;
        font-weight: 100;
        font-size: 25px;
        color: #fff;
        margin-right: 5px;
    }
}
